
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-weight: 300;
    height: 100vh;
    font-family: "Roboto",sans-serif;
}

#bold {
    font-weight: bold;
    color: #40404c;
}


/* Left section (Sidebar) */

.left-section {
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: black;
    padding: 20px;
    color: white;
}


/* Profile / Sidebar section */

.profile {
    text-align: center;
}

.outer-div {
    display: flex;
    width: 130px;
    height: 130px;
    background-color: rgb(59, 59, 59);
    border-radius: 50%;
    justify-content: center;
    margin: 15px auto 0;
}

.inner-div {
    width: 115px;
    height: 115px;
    background-color: white;
    border-radius: 50%;
    align-self: center;
}

.name {
    margin: 10px 0;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.social {
    width: 45px;
    height: 45px;
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    text-align: center;
}

.social:hover {
    background-color: rgb(112, 112, 112);
    /* border: 1px solid whitesmoke; */
}

.social:hover .fa-brands{
    color: white;
}



.web-navigation {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

hr {
    border: 0;
    border-top: 1px solid rgb(18, 153, 220);
    margin: 0 20px;
}

/* If any of the side bar sections are active styles */

.web-navigation a:hover {
    color: rgb(18, 153, 220);
    font-weight: 500;
}


/* Right section (Main content) */

.right-section {
    margin-left: 25%;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}


/* Navigation styles */

nav a {
    text-decoration: none;
    margin: 20px 0;
    color: rgb(182, 181, 181);
}

nav a span {
    margin-left: 10px;
}


/* Font Awesome styles */

.fa-brands {
    font-size: 25px;
    color: #aca8a8;
    margin: 10px;
    border: none;
}


.fa-solid,
.fa-regular {
    font-size: 20px;
    border: none;
}


/* Main Section Styles */

main section {
    padding: 50px 20px 10px 20px;
}

.heading {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    word-spacing: 7px;
}

.underline {
    height: 3px;
    width: 50px;
    background-color: rgb(18, 153, 220);
    margin: 10px 0 30px 0;
}


/* Home Section */

.home{
    height: 100vh;
}


/* About Section */

.about {
    /* background-color: whitesmoke; */
    padding-bottom: 30px;
}

.image-information {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
}

.image{
    background-color: black;
    color: white;
    height: 400px;
}

.information{
    padding-left: 20px;
}

.demographic-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20px;
}

.demographic-details span {
    padding: 10px 0;
}
.demographic-details span span {
    padding: 0 10px;
}

.demographic-details .fa-solid {
    color: rgb(18, 153, 220);
}

.happyClients,
.numberOfProjects{
    display: flex;
    
}

.happyClients-numberOfProjects {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 50px;
}

.happyClients-numberOfProjects .fa-regular,
.happyClients-numberOfProjects .fa-solid {
    font-size: 70px;
    margin-right: 20px;
    color: rgb(18, 153, 220);
}

.total {
    font-size: 40px;
    padding-bottom: 10px;
    color: black !important;
}


/* Skills Section */

#skills {
    padding-bottom: 200px;
}

.skills-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    text-decoration: none;
    width: 400px;
    justify-content: center;
}

.skill-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(18, 153, 220);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.language {
    color: black;
    font-weight: bold;
}
.skill:hover .language{
    color: rgb(18, 153, 220);
}

.skill:hover .skill-icon {
    background-color: white;
    border: 1px solid rgb(18, 153, 220);
}

.language-details {
    width: 300px;
}

.experience-button {
    padding: 2px 7px;
    color: white;
    background-color: rgb(75, 183, 255);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

.experience-button:hover {
    background-color: white;
    border: 1px solid rgb(75, 183, 255);
    color: rgb(75, 183, 255);
}


.skill-blue-line {
    width: 100%;
    height: 10px;
    background-color: rgb(18, 153, 220);
}

.skills-paragraph{
    margin-bottom: 70px;
}

.language {
    margin-bottom: 5px;
}


.fa-html5, .fa-python, .fa-css3-alt, .fa-java, .fa-js {
    font-size: 40px;
    color: white;
    margin: 10px;
    border: none;
}

.skill:hover .fa-html5,
.skill:hover .fa-python,
.skill:hover .fa-css3-alt,
.skill:hover .fa-java,
.skill:hover .fa-js {
    color: rgb(75, 183, 255);
}




/* Resume Section */

.resume {
    padding-bottom: 100px;
}

.institution-name {
    font-size: 20px;
    color: #636370;
    font-weight: 500;
    padding-bottom: 10px;
}

.summary-education-experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.line-and-text {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.circle {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(18, 153, 220);
    border-radius: 50%;
    margin-top: 4px;
}

.summary-education-experience-line {
    width: 1px;
    background-color: rgb(18, 153, 220);
    margin-left: 7px;
}

.summary-line {
    height: 275px;
}
.eduction-line {
    height: 210px;
}

.experience-line {
    height: 405px;
}

#experience-second-line {
    height: 400px;
}

.summary-education-experience-inner-headings {
    font-size: 20px;
    color: #636370;
    font-weight: 400;
    word-spacing: 7px;
    padding-bottom: 10px;
}

.summary-education-experience .inner-heading {

    padding: 10px 0 20px 0;
}


/* Portfolio Section */

.portfolio {
    padding-bottom: 100px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.projects-navigations a {
    text-decoration: none;
    color: black;
}

.projects-navigations {
    text-align: center;
    padding: 30px 0;
}

.project-navigation {
    padding: 0px 10px;
    color: black;
    font-weight: 400;
}

.project-navigation:hover {
    color: rgb(18, 153, 220);
}

.project {
    background-color: black;
    height: 300px;
}


/* Testimonials Section */

.testimonials {
    height: 100vh;
}


/* Services styles */

.services {
    padding-bottom: 50px;
}


.services-offered {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 0;
}

.service {
    background-color: white;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 170px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

.service:hover {
    background-color: skyblue;
    transform: rotateY(180deg);
    

}

.service::after{
    display: flex;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    margin: 20px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    color: white;
}

.service::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    color: rgb(75, 183, 255);
    font-weight: 400;
    
}

.service1::before { content: "Front-end Development"; }
.service2::before { content: "Full-Stack Development"; }
.service3::before { content: "Testing and Quality Assurance"; }
.service4::before { content: "Back-end Development"; }
.service5::before { content: "Web Design"; }
.service6::before { content: "API Development and Integration"; }
.service7::before { content: "Scripting and Automation"; }
.service8::before { content: "Data Analysis and Visualization"; }
.service9::before { content: "Training and Tutoring"; }

.service1::after { content: "I specialize in creating responsive, user-friendly, and visually appealing websites using the latest technologies like HTML, CSS, and JavaScript. Whether you need a static website or a dynamic web application, I can bring your vision to life with clean and efficient code."; }
.service2::after { content: "Combining my front-end and back-end expertise, I deliver complete web applications that are both visually stunning and highly functional. I manage the entire development process, ensuring seamless integration between the client and server sides."; }
.service3::after { content: "Quality is paramount in software development. I write unit tests and perform rigorous quality assurance to ensure that your applications are reliable, bug-free, and perform as expected."; }
.service4::after { content: "I develop robust server-side applications and APIs using Python (Django, Flask) and Java (Spring). My back-end solutions ensure secure, scalable, and efficient data handling to support your web applications."; }
.service5::after { content: "Creating an intuitive and engaging user experience is crucial for any successful website. I design user interfaces (UI) and user experiences (UX) that not only look great but also provide a seamless and enjoyable experience for your users."; }
.service6::after { content: "I create and integrate RESTful and GraphQL APIs, enabling seamless communication between different parts of your application and with external services. My APIs are designed for performance, security, and scalability."; }
.service7::after { content: "Automation can save time and reduce errors in repetitive tasks. I write custom Python scripts for automating processes, data scraping, and other needs, helping you streamline your operations and improve efficiency."; }
.service8::after { content: "I analyze data to uncover insights and trends that can drive decision-making. I transform raw data into meaningful visualizations and reports."; }
.service9::after { content: "With a passion for teaching, I offer tutoring sessions in HTML, CSS, JavaScript, Python, and Java. Whether you are a beginner or looking to advance your skills, I provide personalized instruction to help you achieve your learning goals."; }


/* Contact styles */

.contact {
    padding-bottom: 50px;
    
}

.contacts-heading1,
.contacts-heading2{
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.contacts-heading1{
    padding: 20px 0;
    font-size: 14px;
}

.send-email {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding: 30px 10px;
    width: 600px;
    margin: 50px auto 0;
    background-color: whitesmoke;
    box-shadow: 10px 10px 15px white;
    border-radius: 5px;
}

label,
input {
    display: block;
    width: 100%;
    padding: 20px 0 10px 0;
}

.firstName-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

input {
    padding: 10px;
    margin-top: 5px;
}


/* Button Styles */

.send-email button {
    width: 200px;
    padding: 10px 10px;
    margin: 50px auto 0;
    background-color: rgb(75, 183, 255);
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    transition: 1s;
}


/* Paragraphs Text Styles */

.paragraph {
    letter-spacing: 1px;
    color: #40404c;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 0 20px 0;
}

.inner-heading {
    font-size: 25px;
    color: #40404c;
    font-weight: 500;
    word-spacing: 7px;
    padding-bottom: 10px;
}


/* Footer */

footer {
    background-color: rgb(75, 183, 255);
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right-name {
    padding: 0 5px;
}


/* Responsiveness Style */

/* @media (max-width:768px) {
    .left-section {
        width: 0;
        position: absolute;
        top: 0;
        left: -1000px;
        
    }
    .right-section {
        width: 100vw;
    }
} */

